.nav {
    height: 80px;

    &__menu {
        height: 100%;
        display: flex;
        flex-grow: 1;
        align-items: center;
    }

    &-pills {
        &--dark-green-active {
            .nav-link.active {
                border-radius: 50px;
                @extend .bg-green-dark;
            }
        }
    }
}