%swiper-nav {
    background-color: rgb(36, 36, 36);
    @include rounded(40px);
}

.swiper {
    &-button {
        &-next {
            &::after {
                content: none !important;
            }
            @extend %swiper-nav;
        }
        &-prev {
            &::after {
                content: none !important;
            }
            @extend %swiper-nav;
        }
    }
    &-pagination {
        display: flex;
        justify-content: center;
        align-items: center;

        &__number {
            color: $black;
            cursor: pointer;

            &:not(:last-child) {
                margin-right: 8px;
            }

            &--active {
                transform: scale(1.3);
                color: $orange;
            }
        }
    
        &__bullet {
            background-color: white;
            @include rounded(10px);
            opacity: 0.5;
            cursor: pointer;
    
            &:not(:last-child) {
                margin-right: 8px;
            }
    
            &--active {
                opacity: 1;
            }
        }
    }
}