@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

.text {
    &-black {
        color: $black-doff;
    }
    &-white {
        color: #fff;
    }
    &-purple {
        color: $purple;
    }
    &-not-italic {
        font-style: normal;
    }

    &-poppins {
        font-family: 'Poppins', sans-serif;
    }
}